<dx-popup
  [width]="500"
  [height]="300"
  [showTitle]="true"
  [title]="isCreateMode() ? '영화관 생성' : '영화관 변경'"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [showCloseButton]="true"
  container=".dx-viewport"
  [(visible)]="popupVisible"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="{text: '저장', onClick: save}"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="{text: '취소', onClick: cancel}"
  >
  </dxi-toolbar-item>
  <div class="popup-edit-form" *dxTemplate="let data of 'content'">
      <div class="dx-fieldset">
        <div class="dx-fieldset-header">기본정보</div>

        <div class="dx-field" *ngIf="isUpdateMode()">
          <div class="dx-field-label">ID</div>
          <div class="dx-field-value-static">{{theater.theaterId}}</div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">영화관 명</div>
          <dx-text-box class="dx-field-value" [(value)]="theater.theaterNm"></dx-text-box>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">영화관 위치</div>
          <dx-text-box class="dx-field-value" [(value)]="theater.address"></dx-text-box>
        </div>
      </div>
    </div>
</dx-popup>
