<dx-popup
  [width]="1000"
  [height]="700"
  [showTitle]="true"
  [title]="isCreateMode() ? '영화 생성' : '영화 변경'"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [showCloseButton]="true"
  container=".dx-viewport"
  [(visible)]="popupVisible"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="{text: '저장', onClick: save}"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="{text: '취소', onClick: cancel}"
  >
  </dxi-toolbar-item>
  <div class="popup-edit-form" *dxTemplate="let data of 'content'">
      <div class="dx-fieldset">
        <div class="dx-fieldset-header">기본정보</div>

        <div class="dx-field" *ngIf="isUpdateMode()">
          <div class="dx-field-label">ID</div>
          <div class="dx-field-value-static">{{movie.movieId}}</div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">제목</div>
          <dx-text-box class="dx-field-value" [(value)]="movie.title"></dx-text-box>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">감독</div>
          <dx-text-box class="dx-field-value" [(value)]="movie.director"></dx-text-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">출연진</div>
          <dx-text-box class="dx-field-value" [(value)]="movie.cast"></dx-text-box>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">관람등급</div>
          <dx-text-box class="dx-field-value" [(value)]="movie.grade"></dx-text-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">영화설명</div>
          <dx-text-box class="dx-field-value" [(value)]="movie.information"></dx-text-box>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">상영시간</div>
          <dx-text-box class="dx-field-value" [(value)]="movie.runningTime"></dx-text-box>
        </div>

      </div>
  </div>

</dx-popup>
