<h2 class="content-block">영화 상영시간표 관리</h2>

<div class="list-container">
  <div class="crud-buttons">
    <dx-text-box [(value)]="filter" class="search-bar" placeholder="상영관명으로 조회" (onEnterKey)="search()">
    </dx-text-box>
    <dx-button
      class="crud-button"
      text="조회"
      (onClick)="search()"
    ></dx-button>
    <dx-button
      class="crud-button"
      text="생성"
      (onClick)="create()"
    ></dx-button>
    <dx-button
      class="crud-button"
      text="변경"
      [disabled]="!getSelectedScheduleSeq()"
      (onClick)="update()"
    ></dx-button>
    <dx-button
      class="crud-button"
      text="삭제"
      [disabled]="!getSelectedScheduleSeq()"
      (onClick)="delete()"
    ></dx-button>
  </div>

  <dx-data-grid
    [dataSource]="schedule"
    [showBorders]="true"
    [remoteOperations]="true"
    [hoverStateEnabled]="true"
    [selectedRowKeys]="[]"
  >
    <dxi-column dataField="scheduleSeq" dataType="number" caption="번호" [width]="50"></dxi-column>
    <dxi-column dataField="theater.theaterNm" dataType="String" caption="상영관" [width]="250"></dxi-column>
    <dxi-column dataField="movie.title" dataType="String" caption="영화" ></dxi-column>
    <dxi-column dataField="time" dataType="datetime" caption="상영시간" [width]="250"></dxi-column>
    <dxi-column dataField="fee" dataType="number" caption="요금" format="#,###원" [width]="100"></dxi-column>
    <dxi-column dataField="seats" dataType="number" caption="좌석 수" [width]="100"></dxi-column>
    <dxi-column dataField="remaining" dataType="number" caption="남은 좌석 수" [width]="100"></dxi-column>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20]"
      [showInfo]="true"
      [visible]="true"
    ></dxo-pager>
  </dx-data-grid>
</div>

<sample-schedule-edit-popup (onSaved)="onSaved($event)"></sample-schedule-edit-popup>
