<dx-popup
  [width]="500"
  [height]="500"
  [showTitle]="true"
  [title]="isCreateMode() ? '영화 상영 스케줄 생성' : '영화 상영 스케줄 변경'"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [showCloseButton]="true"
  container=".dx-viewport"
  [(visible)]="popupVisible"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="{text: '저장', onClick: save}"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="{text: '취소', onClick: cancel}"
  >
  </dxi-toolbar-item>
  <div class="popup-edit-form" *dxTemplate="let data of 'content'">
      <div class="dx-fieldset">
        <div class="dx-fieldset-header">기본정보</div>

        <div class="dx-field" *ngIf="isUpdateMode()">
          <div class="dx-field-label">ID</div>
          <div class="dx-field-value-static">{{schedule.scheduleSeq}}</div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">영화</div>
          <dx-select-box class="dx-field-value"
                         name="movies" [(value)]="schedule.movieId"
                         [items]= selectedMovies [searchEnabled]="true" valueExpr="movieId" displayExpr="title"
          ></dx-select-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">영화관</div>
            <dx-select-box class="dx-field-value"
                           name="movies" [(value)]="schedule.theaterId"
                           [items]= selectedTheaters [searchEnabled]="true" valueExpr="theaterId" displayExpr="theaterNm"
            ></dx-select-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">상영시간</div>
          <dx-date-box class="dx-field-value" type="datetime" [(value)]="schedule.time"
                       invalidDateMessage="상영시간을 올바른 형식으로 입력하세요: yyyy-MM-dd"></dx-date-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">좌석수</div>
          <dx-number-box class="dx-field-value" [(value)]="schedule.seats"></dx-number-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">요금</div>
          <dx-number-box class="dx-field-value" [(value)]="schedule.fee"></dx-number-box>
        </div>
      </div>
    </div>
</dx-popup>
