<dx-popup
  [width]="500"
  [height]="500"
  [showTitle]="true"
  [title]="isCreateMode() ? '직원 생성' : '직원 변경'"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [showCloseButton]="true"
  container=".dx-viewport"
  [(visible)]="popupVisible"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="{text: '저장', onClick: save}"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="{text: '취소', onClick: cancel}"
  >
  </dxi-toolbar-item>
  <div class="popup-edit-form" *dxTemplate="let data of 'content'">
    <dx-validation-group>
      <div class="dx-fieldset">
        <div class="dx-fieldset-header">기본정보</div>

        <div class="dx-field" *ngIf="isUpdateMode()">
          <div class="dx-field-label">ID</div>
          <div class="dx-field-value-static">{{schedule.scheduleSeq}}</div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label">movieId</div>
          <!--<dx-number-box class="dx-field-value" [(value)]="schedule.movieId">
            <dx-validator>
              <dxi-validation-rule type="required" message="movieId을 입력하세요."></dxi-validation-rule>
            </dx-validator>
          </dx-number-box>-->
          <dx-select-box class="dx-field-value"
                         name="gender" [(value)]="schedule.movieId"
                         [items]="genders" [searchEnabled]="true" valueExpr="code" displayExpr="text"
          ></dx-select-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">theaterId</div>
          <dx-number-box class="dx-field-value" [(value)]="schedule.theaterId">
            <dx-validator>
              <dxi-validation-rule type="required" message="theaterId을 입력하세요."></dxi-validation-rule>
            </dx-validator>
          </dx-number-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">time</div>
          <dx-date-box class="dx-field-value" type="datetime" [(value)]="schedule.time"
                       invalidDateMessage="날짜를 올바른 형식으로 입력하세요: yyyy-MM-dd">
            <dx-validator>
          </dx-validator>
          </dx-date-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">seats</div>
          <dx-number-box class="dx-field-value" [(value)]="schedule.seats">
            <dx-validator>
              <dxi-validation-rule type="required" message="seats을 입력하세요."></dxi-validation-rule>
            </dx-validator>
          </dx-number-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">fee</div>
          <dx-number-box class="dx-field-value" [(value)]="schedule.fee">
            <dx-validator>
              <dxi-validation-rule type="required" message="fee을 입력하세요."></dxi-validation-rule>
            </dx-validator>
          </dx-number-box>
        </div>


        <dx-validation-summary></dx-validation-summary>

      </div>
    </dx-validation-group>
  </div>

</dx-popup>
